body {
    background-color: #EBB284;
    padding: 0;
    margin: 0;
}

*{
    font-family:  Helvetica, sans-serif;
    color: #5b5b5b;
}

/*PAGE SECTION STYLING------------------------------------------------------------------------------------------*/
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1015px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

header {
    height: 91px;
}

section {
    clear: both;
}

footer {
    background-color: #DE803C;
    padding: 4px;
}

nav {
    flex: 1;
}

main {
    flex: 3;
    padding-right: 30px;
    font-size: small;
    color: gray;
}

aside {
    flex: 1;
    justify-content: space-between;

}




/*TEXT STYLING------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
    font-family: Calibri;
    font-weight: lighter;
    color: white;
    margin-bottom: 15px;
    margin-top: 30px;
    letter-spacing:  4px;
}

.coachesHeader {
    color: #f8d6b9;
    background-color: #b97a57;
    letter-spacing:  3px;
    font-size: 32pt;
    line-height: 32pt;
}

.coachesSmallHeader {
    color: #DE803C;
    background-color: white;
    font-size: 18pt;
    font-weight: normal;
    letter-spacing: 1px;
}

.navHeaders {
    color: #5B5B5B;
    background-color: white;
    font-size: 24pt;
    font-weight: lighter;
}

.indexHeader {
    color: white;
    background-color: #DE803C;
    font-weight: lighter;
    font-size: 27pt;
    line-height: 28pt;
}

.indexSmallHeader {
    font-size: 20pt;
    line-height: 22pt;
    background-color: #ebb183;
    letter-spacing:  1px;
}

.normalHeader {
    color: white;
    background-color: #b97a57;
    font-size: 27pt;
    line-height: 28pt;
}

.normalSmallHeader {
    font-size: 20pt;
    line-height: 22pt;
    background-color: #b97a57;
    letter-spacing: 1px;
}

blockquote {
    width: 50%;
    color: white;
    background-color: #DE803C;
    font-family: LDFComicSans, sans-serif;
    font-weight: lighter;
    font-size:  10pt;
    line-height: 14pt;
    float: right;
    padding: 12px;
}

nav a {
    color: #979797;
    text-decoration: none;
    font-size:  small;
}

nav a:hover {
    color: #5B5B5B;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding-left: 0;
    line-height: 16pt;
}

main p {
    font-size: 11pt;
    line-height: 16pt;
    margin-top: 11px;
}


aside q {
    color: #E8A574;
    font-size: small;
}

footer p {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 7.5pt;
}





/* IMAGE STYLING----------------------------------------------------------*/
.imgfloatright {
    float: right;
    padding: 10px;
    margin-left: 20px;
}

.imgfloatleft {
    float: left;
    padding: 10px;
    margin-right: 20px;
}

.bulletimage {
    margin-right: 4px;
}

/* This is for the bullet lists on the coaches page that use check.png rather than a normal bullet style */
.list_check li {
    list-style-image:url(images/check.png);
}
